.App {
    font-family: Verdana;
    text-align: center;
  }
  
  header h1{
    font-size: 50px;
    color: #46244C;
  }
  
  .titleup{
    font-family: candara;
    color: #C74B50;
  }
  
  .top{
    padding-bottom: 20px;
    margin : 5px 5px;
    /* border: dashed; */
  }
  
  .topku{
    padding: 20px;
    margin : 5px 5px;
    border: dashed #C74B50;
  }
  