.titleup {
  font-family: candara;
  color: #c74b50;
}

.top {
  margin: 5px 5px;
  width: 100%;
  position: static;
}

.topku {
  padding: 5px 2px;
  margin: 5px 2px;
  border: solid #000000;
  border-radius: 20px;
}

.playlistSong {
  inline-size: 220px;
  block-size: 235px;
  overflow-wrap: break-word;
  float: left;
}

.imageSong {
  float: left;
}

.imageurls {
  border-radius: 25px;
  height: 100px;
  width: 100px;
  padding: 3px;
}

.songTitle {
  float: right;
  text-align: center;
}

.artisName {
  float: right;
}
